* {margin:0px;}

body,#banner,nav {display:inline-block;}

#banner {float:left;
	
	font-size:30px;
	padding-left:10px;
	border-color:black;
	border-width:10px;
	color: black;
	background-color: pink;
	width:100%;
}
}

button {

	float:right;}

#dropdownmenu {clear:both;
	margin-bottom:4px;
		 margin-top: 4px;
		 margin-left: -0px;
		 margin-right: 0px;
		padding:4px;
		text-align: center;
		color:red;
		background-color: #87ff73;
		display:none;}

	#menubutton:active  {background-color: red; }
	
	

@media (min-width:720px) {
	#menubutton {display:none;}
}



div {margin:0;
padding:5px;}

#ourmenu {padding:10px;
	margin-top:50px;
	text-align: center;}

.textblocks {
	width:100%;
	text-align:center;
	background-color: #b2b2b2;
	
	margin:5px;}


.col-xs-12 {

}

nav span{float:right;}
nav span div {
	padding:0px;
  	margin:0px;
    width: 35px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
}